* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.fuente1 {
    font-family: 'Segoe UI';
}

.fuente2 {
    font-family: 'Roboto', sans-serif;
}

/* ---------------Header--------------- */

header {
    height: 80px;
    background-color: #0e9e2c;
}

nav {
    height: 100%;
}

.nav_container {
    justify-content: space-between;
    align-items: center;
}

.nav__logo__container {
    display: flex;
    margin-left: 10%;
    height: 220px; width: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.nav__logo__container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; width: 100%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.logo {
    z-index: 10;
    margin-top: 40px;
    height: 80px; width: 180px;
}

.nav__list__container{
    justify-content: end;
}

.nav__list__container ul{
   margin: 0 0 0 0;
   justify-content: center;
   align-items: center;
}

.nav__list__container ul li {
    padding: 20px;
    text-transform: uppercase;
}

.nav__list__container ul li a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Segoe UI';
}

.nav__list__container ul li a:hover {
    color: black;
}

@media screen and (max-width: 991px) {

    .navbar {
        padding: 0 0 0 0;
    } 

    .nav__logo__container{
        height: 80px; width: 180px;
        background: none;
    }

    .logo {
        margin: 0%;
    }

    .navbar_btn {
        margin-right: 10%;
    }

    .nav__list__container {
        background-color: #0e9e2c;

    }

    .nav__list__container ul {
        padding-right: 0;
    }

    .nav__list__container ul li {
        padding: 10px;
    }
}

@media screen and (max-width: 425px) {

    .nav__logo__container{
        margin-left: 2%;
    }

    .navbar_btn {
        margin-right: 2%;
    }
}

/* ---------------Main Index--------------- */
/* Texto debajo del logo principal */

.main__principal {
    height: 100%;
    background-image: url(../images/fondo__1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.filtro {
    background-color: rgba(14, 158, 44, 0.4);
    padding: 0;
}

.main__container__text {
    padding: 100px 0 0 10%;
    margin: 0;
    width: 90%;
}

.main__container__text h1 {
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 0;
    height: 80px;
    color: black;
}

.main__container__text h2 {
    font-size: 26px;
    margin-bottom: 0;
    color: black;
}

.main__container__text p {
    padding-top: 10px;
    margin-bottom: 0%;
    color: black;
}

@media screen and (max-width: 991px) {
    
    .main__container__text {
        text-align: center;
        padding-top: 50px;
    }
}

@media screen and (max-width: 576px) {

    .main__container__text h1 {
        font-size: 45px;
        height: 60px;
    }
    
    .main__container__text h2 {
        font-size: 20px;
    }

    .main__container__text p {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {

    .main__container__text h1 {
        font-size: 33px;
        height: 45px;
    }
    
    .main__container__text h2 {
        font-size: 16px;
    }

    .main__container__text p {
        font-size: 12px;
    }
}

/* Contenedor con texto y un boton */

.main__box__container {
    margin: 100px 0;
}


.box__container {
    height: 100px; width: 80%;
    margin: 0 10%;
    background-color: #FFFFFF;
    border-radius: 20px 40px;
}

.box__container__text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__container__text p {
    font-size: 14px;
    text-align: center;
    padding: 0 30px;
    margin: 0%;
    color: black;
}

.box__container__text button {
    height: 40px; width: 120px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    background-color: black;
    transition: 0.4s;
}

.box__container__text button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    
    .main__box__container {
        margin: 50px 0 0 0;
    }

    .box__container {
        height: 100%; width: 100%;
        margin: 0;
        background-color: #FFFFFF;
        border-radius: 0;
        justify-content: center;
    }

    .box__container__text {
        padding: 20px 0;
        border-bottom: 1px solid black;
    }

    .sin__borde {
        border-bottom: none;
    }
}

@media screen and (max-width: 576px) {

    .box__container {
        padding: 0 10%;
    }
}

/* ---------------Main empresa--------------- */

.main__empresa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "parte_1 parte_2 parte_3"
    "parte_4 parte_5 parte_6";
    justify-items: center;
    background-image: url(../images/fondo__1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.empresa__box {
    display: flex;
    height: 80px; width: 250px;
    border: 1px solid #0b0b0b;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
}

.empresa__box h2 {
    text-transform: uppercase;
    font-size: 22px;
}

.container1 {
    grid-area: parte_1;
}

.container2 {
    grid-area: parte_2;
}

.container3 {
    grid-area: parte_3;
}

.container4 {
    grid-area: parte_4;
}

.container6 {
    grid-area: parte_6;
}



@media screen and (max-width:992px) {

    .main__empresa {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "parte_1 parte_2"
        "parte_3 parte_4"
        "parte_5 parte_6";
    }

    .empresa__box {
        margin: 30px 0;
    }
}

@media screen and (max-width: 704px) {

    .main__empresa {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "parte_1"
        "parte_2"
        "parte_3"
        "parte_4"
        "parte_5"
        "parte_6";
    }

    .empresa__box {
        margin: 20px 0;
    }

    .empresa__box h2 {
        font-size: 18px;
    }
}

/* ---------------Main muebles--------------- */
/* Contenedor con texto */

.container__text__box {
    height: 100%;
}

.muebles__container__text {
    grid-area: telas;
    display: flex;
    justify-content: space-evenly;
    background-color: #0b0b0b;
}

.container__text__telas {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__text__telas p {
    padding: 20px 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #e9c46a;
}

.container__text__telas img {
    height: 80%; width: 150px;
}

.container__text__telas--button {
    justify-content: center;
}

.container__text__telas--button p {
    font-size: 16px;
    text-transform: none;
    text-align: center;
}

.container__text__telas--button button {
    height: 50px; width: 150px;
}


/* Contenedor con muebles */

.main__muebles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.8fr repeat(2, 1fr);
    grid-template-areas:
    "telas telas telas"
    "parte2 parte3 parte4"
    "parte5 parte6 parte7";
}

.container__muebles1 {
    grid-area: parte2;
}

.container__muebles2 {
    grid-area: parte3;
}

.container__muebles3 {
    grid-area: parte4;
}

.container__muebles4 {
    grid-area: parte5;
}

.container__muebles5 {
    grid-area: parte6;
}

.container__muebles6 {
    grid-area: parte7;
}

.muebles__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.muebles__card {
    display: flex;
    flex-direction: column;
    height: 400px; width: 300px;
    border: 1px solid #0b0b0b;
    align-items: center;
    justify-content: space-between;
}

.muebles__card img {
    height: 200px; width: 100%;
}

.muebles__card h2 {
    text-transform: uppercase;
    font-weight: 500;
}

.muebles__card h3 {
    font-weight: 400;
    text-align: center;
}

.muebles__card p {
    text-transform: uppercase;
    padding-bottom: 10px;
}

@media screen and (max-width: 1000px) {

    .main__muebles {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 0.4fr) repeat(3, 1fr);
        grid-template-areas:
        "telas telas"
        "telas telas"
        "parte2 parte3"
        "parte4 parte5"
        "parte6 parte7";
    }
}

@media screen and (max-width: 704px) {
    
    .main__muebles {
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr repeat(6, 1fr);
        grid-template-areas:
        "telas"
        "parte2" 
        "parte3"
        "parte4" 
        "parte5"
        "parte6" 
        "parte7";
    }

    .muebles__container__text {
        flex-direction: column;
        align-items: center;
    }

    .container__text__telas p {
        font-size: 16px;
    }

    .container__text__telas--button p {
        font-size: 14px;
    }

}

/* ---------------Footer--------------- */

footer {
    height: 200px;
    background-color: #0b0b0b;
    justify-content: center;
    text-align: center;
}

.footer__container__images {
    margin-top: 50px;
}

.footer__container__images a img {
    height: 50px; width: 50px;
}

footer h3 {
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}

footer p {
    color: #FFFFFF;
    font-size: 12px;
}