* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.fuente1 {
    font-family: 'Segoe UI';
}

.fuente2 {
    font-family: 'Roboto', sans-serif;
}

/* ---------------Header--------------- */

header {
    height: 80px;
    background-color: #0e9e2c;
}

nav {
    height: 100%;
}

.nav_container {
    justify-content: space-between;
    align-items: center;
}

.nav__logo__container {
    display: flex;
    margin-left: 10%;
    height: 220px; width: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.nav__logo__container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; width: 100%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.logo {
    z-index: 10;
    margin-top: 40px;
    height: 80px; width: 180px;
}

.nav__list__container{
    justify-content: end;
}

.nav__list__container ul{
   margin: 0 0 0 0;
   justify-content: center;
   align-items: center;
}

.nav__list__container ul li {
    padding: 20px;
    text-transform: uppercase;
}

.nav__list__container ul li a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Segoe UI';
}

.nav__list__container ul li a:hover {
    color: black;
}

@media screen and (max-width: 991px) {

    header {
        z-index: 1000;
    }

    .navbar {
        padding: 0 0 0 0;
    } 

    .nav__logo__container {
        height: 80px; width: 180px;
        background: none;
        margin-left: 6%;
    }

    .logo {
        margin: 0%;
    }

    .navbar_btn {
        margin-right: 6%;
    }

    .nav__list__container {
        background-color: #0e9e2c;
    }

    .nav__list__container ul {
        padding-right: 0;
    }

    .nav__list__container ul li {
        padding: 10px;
    }
}

@media screen and (max-width: 425px) {

    .nav__logo__container{
        margin-left: 2%;
    }

    .navbar_btn {
        margin-right: 2%;
    }
}

/* ---------------Main Index--------------- */
/* Texto debajo del logo principal */

.main__principal {
    background-image: url(../images/fondo__index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.filtro {
    background-color: rgba(225, 255, 190, 0.2);
    padding: 0;
}

.main__container__text {
    padding: 100px 0 0 10%;
    margin: 0;
    width: 90%;
}

.main__container__text h1 {
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 0;
    height: 80px;
    color: black;
}

.main__container__text h2 {
    font-size: 26px;
    margin-bottom: 0;
    color: black;
}

.main__container__text p {
    padding-top: 10px;
    margin-bottom: 0%;
    color: black;
}

@media screen and (max-width: 991px) {
    
    .main__container__text {
        text-align: center;
        padding-top: 50px;
    }
}

@media screen and (max-width: 576px) {

    .main__container__text h1 {
        font-size: 45px;
        height: 60px;
    }
    
    .main__container__text h2 {
        font-size: 20px;
    }

    .main__container__text p {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {

    .main__container__text h1 {
        font-size: 33px;
        height: 45px;
    }
    
    .main__container__text h2 {
        font-size: 16px;
    }

    .main__container__text p {
        font-size: 12px;
    }
}

/* Contenedor con texto y un boton */

.main__box__container {
    margin: 100px 0;
}


.box__container {
    height: 100px; width: 80%;
    margin: 0 10%;
    background-color: #FFFFFF;
    border-radius: 20px 40px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.9);
}

.box__container__text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__container__text p {
    font-size: 14px;
    text-align: center;
    padding: 0 30px;
    margin: 0%;
    color: black;
}

.box__container__text button {
    height: 40px; width: 120px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    background-color: black;
    transition: 0.4s;
}

.box__container__text button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    
    .main__box__container {
        margin: 50px 0 0 0;
    }

    .box__container {
        height: 100%; width: 100%;
        margin: 0;
        background-color: #FFFFFF;
        border-radius: 0;
        justify-content: center;
    }

    .box__container__text {
        padding: 20px 0;
        border-bottom: 1px solid black;
    }

    .sin__borde {
        border-bottom: none;
    }

    .box__container__text button:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 576px) {

    .box__container {
        padding: 0 10%;
    }
}

/* ---------------Main empresa--------------- */

.main__empresa {
    background-image: url(../images/fondo__empresa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.empresa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "parte_1 parte_2 parte_3"
    "parte_4 parte_5 parte_6";
    justify-items: center;
}

.empresa__box {
    display: flex;
    height: 150px; width: 300px;
    margin: 100px 0;
    padding: 0%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.9);
}

.empresa__button {
    padding: 0%;
    display: flex;
    height: 100%; width: 100%;
    border-radius: 10px;
    border: none;
    background:none;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
}

.empresa__button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.titulo {
    text-transform: uppercase;
    font-size: 22px;
    height: 100%; width: 100%;
    padding-top: 60px;
    transition: 0.3s;
}

.titulo:hover {
    transform: translateY(-3%);
    text-decoration: underline;
}

.titulo--menos__padding {
    text-transform: uppercase;
    font-size: 22px;
    height: 100%; width: 100%;
    padding-top: 50px;
    transition: 0.3s;
}

.titulo--menos__padding:hover {
    transform: translateY(-3%);
    text-decoration: underline;
}

.modal-header h1 {
    text-transform: uppercase;
}

.modal-body img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
}

.container1 {
    grid-area: parte_1;
    background-image: url(../images/empresa/nuestra_historia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container2 {
    grid-area: parte_2;
    background-image: url(../images/empresa/fabricacion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container3 {
    grid-area: parte_3;
    background-image: url(../images/empresa/embalaje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container4 {
    grid-area: parte_4;
    background-image: url(../images/empresa/fsc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container5 {
    grid-area: parte_5;
    background-image: url(../images/empresa/logistica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container6 {
    grid-area: parte_6;
    background-image: url(../images/empresa/rsc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width:991px) {

    .empresa {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "parte_1 parte_2"
        "parte_3 parte_4"
        "parte_5 parte_6";
    }

    .empresa__box {
        margin: 30px 0;
    }

    .titulo:hover {
        transform: translateY(0);
        text-decoration: none;
    }
    
    .titulo--menos__padding:hover {
        transform: translateY(0);
        text-decoration: none;
    }
}

@media screen and (max-width: 704px) {

    .empresa {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "parte_1"
        "parte_2"
        "parte_3"
        "parte_4"
        "parte_5"
        "parte_6";
    }

    .empresa__box {
        height: 100px; width: 250px;
        margin: 20px 0;
    }

    .titulo {
        font-size: 18px;
        padding-top: 40px;
    }
    
    .titulo--menos__padding {
        font-size: 18px;
        padding-top: 25px;
    }
}

/* ---------------Main muebles--------------- */
/* Contenedor con texto */

.muebles__container__text {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas:
    "telas-1 telas-2 telas-3"
    "catalogo catalogo catalogo";
    padding-top: 100px;
    background-color: #0b0b0b;
}

.telas-1 {
    grid-area: telas-1;
}

.telas-2 {
    grid-area: telas-2;
}

.telas-3 {
    grid-area: telas-3;
}

.container__telas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.telas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.telas h2 {
    text-transform: uppercase;
    color: #e9c46a;
}

.container__telas img {
    height: 300px; width: 200px;
}

.catalogo {
    display: flex;
    grid-area: catalogo;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.catalogo p {
    color: #e9c46a;
    font-size: 20px;
    text-align: center;
}

.catalogo button {
    height: 50px; width: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    background-color: #0b0b0b;
    transition: 0.4s;
    border-color: #FFFFFF;
}

.catalogo button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .muebles__container__text {
        padding-top: 50px;
    }

    .catalogo button:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 704px) {

    .muebles__container__text {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas:
        "telas-1 telas-2"
        "telas-3 catalogo";
        padding-top: 0px;
    }

    .container__telas img {
        height: 200px; width: 150px;
    }

    .telas-3 {
        padding: 20px 0 50px 0;
    }

    .catalogo {
        padding-right: 20px;
    }
}

@media screen and (max-width: 425px) {

    .muebles__container__text {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr) 0.5fr;
        grid-template-areas:
        "telas-1"
        "telas-2"
        "telas-3"
        "catalogo";
        padding-top: 0px;
    }

    .container__telas img {
        height: 200px; width: 150px;
    }

    .telas-3 {
        padding: 20px 0 50px 0;
    }

    .catalogo {
        padding: 0 20px 20px 20px;
    }
}

/* Contenedor con muebles */

.muebles__box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr) ;
    grid-template-areas:
    "card-1 card-2 card-3"
    "card-4 card-5 card-6";
}

.card-1 {
    grid-area: card-1;
}

.card-2 {
    grid-area: card-2;
}

.card-3 {
    grid-area: card-3;
}

.card-4 {
    grid-area: card-4;
}

.card-5 {
    grid-area: card-5;
}

.card-6 {
    grid-area: card-6;
}

.muebles__container__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 300px;
    border-radius: 18px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    text-align: center;
    margin: 50px 0;
    transition: 0.5s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-3%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-position: center;
}

.carousel-control-prev, .carousel-control-next {
    height: 35px; width: 35px;
    background-color: black;
    border-radius: 50%;
    top: calc(50% - 10px);
}

.carousel-control-prev {
    left: 2%;
}

.carousel-control-next {
    right: 2%;
}

.card h2 {
    margin-top: 0;
    font-size: 28px;
    padding: 10px 0;
}

.card h3 {
    font-size: 15px;
    padding-bottom: 10px;
}

.info {
    display: flex;
    justify-content: space-evenly;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #e9c46a;
    font-weight: bold;
    padding: 10px 0;
}

@media screen and (max-width: 991px) {

    .muebles__box {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr) ;
        grid-template-areas:
        "card-1 card-2"
        "card-3 card-4"
        "card-5 card-6";
    }

    .card:hover {
        transform: translateY(0);
        box-shadow: 0;
    }
}

@media screen and (max-width: 704px) {

    .muebles__box {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr) ;
        grid-template-areas:
        "card-1"
        "card-2"
        "card-3"
        "card-4"
        "card-5" 
        "card-6";
    }

    .card {
        margin: 30px 0;
    }
}

/* Ajustando imagenes */

.carousel-inner {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
    
.sofa-london-2 {
    position: relative;
    left: 25px;
    top: 10px;
}

.sofa-london-3 {
    position: relative;
    left: 25px;
    top: 8px;
}

.sofa-rio {
    position: relative;
    top: 10px;
}

.rinco-roma-1 {
    position: relative;
    bottom: 20px;
}

.rinco-roma-3 {
    position: relative;
    left: 6px;
}

.cande-1 {
    position: relative;
    right: 4px;
}

.cande-2 {
    position: relative;
    left: 8px;
    bottom: 15px;
}

/* ---------------Main consultas--------------- */

.main__consultas {
    background-color: #0b0b0b;
}

.consultas__box {
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
}

.accordion {
    width: 100%;
    margin: 0 10% 0 10%;
    align-items: center;
}

.accordion-item {
    margin-bottom: 20px;
}

/* ---------------Main contacto--------------- */

/* Pad con informacion */

.contacto__container__text {
    width: 35%;
    padding: 0;
    background-color: #0e9e2c;
}

.container__text__box {
    padding: 100px 10% 100px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__text__box h1 {
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.container__text__box h2 {
    padding-top: 10px;
    font-size: 20px;
}

.simple__box {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
}

.simple__box h3 {
    font-size: 16px;
    padding: 10px;
    margin: 0;
}

@media screen and (max-width: 991px) {
    
    .container__text__box {
        padding: 50px 8% 50px 8%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container__text__box h1 {
        font-size: 26px;
    }
    
    .container__text__box h2 {
        font-size: 18px;
    }
    
    .simple__box {
        width: 100%;
        background-color: white;
        border-radius: 15px;
        margin-top: 30px;
    }
    
    .simple__box h3 {
        font-size: 14px;
    }
}

@media screen and (max-width: 704px) {

    .contacto__container__text {
        width: 100%;
    }

    .container__text__box h1 {
        font-size: 20px;
    }

    .container__text__box h2 {
        font-size: 4;
    }
}

/* Formulario */

.contacto__container__form {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__container {
    width: 70%;
}

form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,0.1fr);
    grid-template-areas:
    "name surname"
    "email email"
    "message message"
    "button button";
}

.form__group__name {
    display: flex;
    flex-direction: column;
    grid-area: name;
}

.form__group__name input {
    width: 90%;
}

.form__group__surname {
    display: flex;
    flex-direction: column;
    grid-area: surname;
}

.form__group__surname input {
    width: 100%;
}

.form__group__email {
    display: flex;
    flex-direction: column;
    grid-area: email;
}

.form__group__email input {
    width: 100%;
}

.form__group__message {
    display: flex;
    flex-direction: column;
    grid-area: message;
}

.form__group__message textarea {
    height: 100px; width: 100%;
    border-radius: 5px;
    background-color: rgba(230, 230, 230, 0.6);
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
    outline: none;
}

.form__group__message textarea:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.form__group__message textarea:focus {
    background-color: #FFFFFF;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.form__button {
    grid-area: button;
    font-size: 20px;
    height: 50px;
    background-color: #2ecc71;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
}

.form__button:hover {
    background-color: #27ae60;
}

.form__group {
    padding-bottom: 20px;
}

.form__group label {
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 5px;
}

.form__group input {
    border-radius: 5px;
    background-color: rgba(230, 230, 230, 0.6);
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
    height: 40px;
    outline: none;
}

.form__group input:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.form__group input:focus {
    background-color: #FFFFFF;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

@media screen and (max-width: 991px) {

    .form__group label {
        font-size: 16px;
    }
}

@media screen and (max-width: 704px) {

    .contacto__container__form {
        width: 100%;
        margin: 20px 0;
    }

    .form__group label {
        font-size: 14px;
    }

    .form__group input {
        height: 30px;
    }

    .form__button {
        height: 40px;
    }

    .form__group__message textarea {
        height: 60px;
    }
}

/* ---------------Footer--------------- */

footer {
    height: 100%;
    background-color: #0b0b0b;
    justify-content: center;
    text-align: center;
}

.footer__container__images {
    margin: 40px 0 15px 0;
}

.footer__container__images a img {
    height: 50px; width: 50px;
}

footer h3 {
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}

footer p {
    color: #FFFFFF;
    font-size: 12px;
}