/*<---------------- MAIN EMPRESA ---------------->*/

.main__empresa {
    background-image: url(../images/fondo__empresa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .filtro {
        background-color: $color-filtro;
    }
    .empresa {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.1fr repeat(2, 1fr);
        grid-template-areas: 
        "titulo titulo titulo"
        "parte_1 parte_2 parte_3"
        "parte_4 parte_5 parte_6";
        justify-items: center;
        h1 {
            grid-area: titulo;
            margin-top: 100px;
            text-align: center;
            color: $color-secundario;
            font-size: 35px;
            text-transform: uppercase;
        }
        .empresa__box {
            display: flex;
            height: 150px; width: 300px;
            margin: 100px 0;
            padding: 0%;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.9);
            .empresa__button {
                padding: 0%;
                display: flex;
                height: 100%; width: 100%;
                border-radius: 10px;
                border: none;
                background:none;
                color: white;
                text-transform: uppercase;
                background-color: rgba(0, 0, 0, 0.5);
                &:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
                .titulo {
                    text-transform: uppercase;
                    font-size: 22px;
                    height: 100%; width: 100%;
                    padding-top: 60px;
                    transition: 0.3s;
                    &:hover {
                        transform: translateY(-3%);
                        text-decoration: underline;
                    }
                }
                .titulo--menos__padding {
                    text-transform: uppercase;
                    font-size: 22px;
                    height: 100%; width: 100%;
                    padding-top: 50px;
                    transition: 0.3s;
                    &:hover {
                        transform: translateY(-3%);
                        text-decoration: underline;
                    }
                }
            }
            .modal-header {
                h1 {
                    text-transform: uppercase;
                    img {
                        width: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        padding-bottom: 10px;
                    }
                }
            }
            .modal-body {
                img {
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding-bottom: 10px;
                }
            } 
        }
        /* Este bucle crea 6 containers con imagenes distintas */
        $img: (
            container1: url(../images/empresa/nuestra_historia.jpg),
            container2: url(../images/empresa/fabricacion.jpg),
            container3: url(../images/empresa/embalaje.jpg),
            container4: url(../images/empresa/fsc.jpg),
            container5: url(../images/empresa/logistica.jpg),
            container6: url(../images/empresa/rsc.jpg)
        );
        @mixin background_no-repeat_cover-center {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        $i: 1;
        @each $container, $url in $img {
            .#{$container} {
                grid-area: parte_#{$i};
                background-image: $url;
                @include background_no-repeat_cover-center;
                $i: $i + 1;
            }
        }
    }
}