/*<---------------- MAIN MUEBLES ---------------->*/
.main__muebles {
    background-repeat: no-repeat;
    /* Contenedor con texto muebles */
    .muebles__container__text {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas:
        "telas-1 telas-2 telas-3"
        "catalogo catalogo catalogo";
        padding-top: 100px;
        background-color: $color-secundario;
        /* Agrega 3 grid areas */
        @for $cont from 1 through 6 {
            .telas-#{$cont} {
                grid-area: telas-#{$cont};
            }
        }
        .container__telas {
            display: flex;
            justify-content: center;
            align-items: center;
            .telas {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2 {
                    text-transform: uppercase;
                    color: $color-terciario;
                }
                img {
                    height: 300px; width: 200px;
                }
            }
        }
        .catalogo {
            display: flex;
            grid-area: catalogo;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 50px 0;
            h2 {
                color: $color-terciario;
                font-size: 20px;
                text-align: center;
            }
            button {
                height: 50px; width: 200px;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                color: $color-white;
                text-transform: uppercase;
                background-color: #0b0b0b;
                transition: 0.4s;
                border-color: $color-white;
                &:hover {
                    background-color: $color-white;
                    color: black;
                    cursor: pointer;
                }
            }
        }
    }
    /* Contenedor con muebles */
    .muebles__box {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr) ;
        grid-template-areas:
        "card-1 card-2 card-3"
        "card-4 card-5 card-6";
        /* Agrega 6 grid areas */
        @for $i from 1 through 6 {
            .card-#{$i} {
                grid-area: card-#{$i};
            }
        }
        .muebles__container__card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .card {
                height: 412px; width: 300px;
                border-radius: 18px;
                background-color: $color-white;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
                text-align: center;
                margin: 50px 0;
                transition: 0.5s ease;
                cursor: pointer;
                &:hover {
                    transform: translateY(-3%);
                    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
                }
                .carousel {
                    background-repeat: no-repeat;
                    img {
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        background-position: center;
                    }
                    .carousel-control-prev, .carousel-control-next {
                        height: 35px; width: 35px;
                        background-color: black;
                        border-radius: 50%;
                        top: calc(50% - 10px);
                    }
                    .carousel-control-prev {
                        left: 2%;
                    }
                    
                    .carousel-control-next {
                        right: 2%;
                    }
                    /* Ajustando imagenes */
                    .carousel-inner {
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        .carousel-item {
                            .sofa-london-2 {
                                position: relative;
                                left: 25px;
                                top: 10px;
                            }
                            .sofa-london-3 {
                                position: relative;
                                left: 25px;
                                top: 8px;
                            }
                            .sofa-rio {
                                position: relative;
                                top: 10px;
                            }
                            .rinco-roma-1 {
                                position: relative;
                                bottom: 20px;
                            }
                            .rinco-roma-3 {
                                position: relative;
                                left: 6px;
                            }
                            .cande-1 {
                                position: relative;
                                right: 4px;
                            }
                            .cande-2 {
                                position: relative;
                                left: 8px;
                                bottom: 15px;
                            }
                        }
                    }
                }
                .card-body {
                    h2 {
                        margin-top: 0;
                        font-size: 28px;
                        padding: 10px 0;
                    }
                    h3 {
                        font-size: 15px;
                        padding-bottom: 10px;
                    }
                }
                .info {
                    display: flex;
                    justify-content: space-evenly;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    background-color: $color-terciario;
                    font-weight: bold;
                    padding: 10px 0;
                    .medida {
                        font-family: 'Roboto', sans-serif;
                    }
                    .peso {
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }
    }
}