* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    h1 {
        font-family: 'Segoe UI';
    }
    h2 {
        font-family: 'Segoe UI';
    }
    h3 {
        font-family: 'Roboto', sans-serif;
    }
    p {
        font-family: 'Roboto', sans-serif;
    }
    a {
        text-decoration: none;
    }
    button {
        font-family: 'Roboto', sans-serif;
    }
}