/*<---------------- VARIABLES ---------------->*/
$color-principal: #0e9e2c;
$color-secundario: #0b0b0b;
$color-terciario: #e9c46a;
$color-white: #FFFFFF;
$color-filtro: rgba(225, 255, 190, 0.2);

/*<---------------- ESTRUCTURA EN IMPORTS ---------------->*/

@import "reset"; /* Check */

@import "navbar"; /* Check */

@import "index";  /* Check */

@import "empresa"; /* Check */

@import "muebles"; /* Check */

@import "consultas";

@import "contacto"; /* Check */

@import "footer";  /* Check */

@import "querys"; 